@using BBQ_Schedule.UI.Web.Pages.Scheduling
@*@page "/"
@using BBQ_Schedule.UI.Web.Pages.Scheduling

<Scheduling></Scheduling>*@
@*<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />*@

@*<Scheduling></Scheduling>**@